*.enhancers.gz
*.interactions.with_motif
*.final_interactions
*.pairs
*.ldef
*.pipeline
*.counts
enhancer_lists/*.pdf
enhancer_lists/*.txt
interaction_lists/*.pdf
interaction_lists/*.txt
pair_lists/*.pdf
pair_lists/*.txt
